#Replace with your webhook base from IFTTT, including your key (but don't remove the %s placeholder!)
#WEBHOOK_BASE="https://maker.ifttt.com/trigger/%s/json/with/key/YOUR_KEY"

#the IFTTT maker event slug for onair (note, both are optional. You can trigger an event for either or both
#EVENT_ON=""

#the IFTTT maker event slug for onair
#EVENT_OFF=""
